<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Data Sekolah</title>
  </head>
  <body>
    <center>
    <h1>Data Sekolah</h1>
      <a href="/subjects"><button type="button" name="button">SUBJECTS</button></a>
      <a href="/teachers"><button type="button" name="button">TEACHERS</button></a>
      <a href="/students"><button type="button" name="button">STUDENTS</button></a><br><br>
      <a href="/login"><button type="button" name="button">LOGIN</button></a>
    </center>
  </body>
</html>
